


@font-face {
    font-family: 'Marcellus';
    src: url('../fonts/Marcellus/Marcellus-Regular.woff2') format('woff2'),
        url('../fonts/Marcellus/Marcellus-Regular.woff') format('woff'),
        url("../fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-Regular.woff2') format('woff2'),
        url('../fonts/Karla/Karla-Regular.woff') format('woff'),
        url('../fonts/Karla/Karla-Italic-VariableFont_wght.ttf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif; 
}

:root {
    --primary-color: darkgreen;
    --secondary-color: white;
    --text-color: black;
    --hover-color: olive;
   
}
h1 {
    font-family: 'Marcellus', cursive;
    font-size: 3rem;
    text-align: center;

}

nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}